@import '/node_modules/flowbite-vue/dist/index.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    box-sizing: border-box;
}


@font-face {
    font-family: 'Roboto Slab';
    src: url('/fonts/FarAwayGalaxy.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
